/* Header Navbar ................. */
#header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border: 1px solid;
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: darkcyan;
}

.nav_lu {
  display: flex;
  padding-bottom: 10px;
}

.nav_lu li {
  list-style: none;
}

.nav_lu li a {
  margin: 20px;
  font-weight: bold;
  color: white;
}

@media (max-width: 716px) {
  #header {
    background-color: darkslategrey;
  }

  .nav_lu li a {
    margin: 8px;
    font-size: 0.8em;
    color: antiquewhite;
  }
  .header_logo {
    margin-left: 10px;
    margin-bottom: 5px;
  }
}

@media (max-width: 440px) {
  #header {
    background-color: black;
    align-items: center;
    flex-direction: column;
    height: 100px;
  }

  .nav_lu li a {
    margin: 5px;
    font-size: 0.7em;
    color: aliceblue;
  }

  .header_logo {
    width: 60px;
    height: 60px;
    margin-top: 5px;
  }

  @media (max-width: 380px) {
    #header {
      background-color: dimgray;
      align-items: center;
      flex-direction: column;
      height: 180px;
    }

    .nav_lu li a {
      font-size: 0.7em;
      color: aliceblue;
    }

    .nav_lu {
      flex-direction: column;
    }

    .header_logo {
      width: 60px;
      height: 60px;
      margin-top: 5px;
    }

    .nav_lu li {
      margin: 5px;
    }
  }
}

/*  body ------------------------ */
#body {
  width: 100%;
  position: relative;
}

/* Contenedor Principal #section ------------------------ */
#section{
  display: flex;
  justify-content:space-around;
  background-color:darkseagreen;
  margin: 15px;
}

/* Contendedor secundario 1 .section_img_p ------------------*/
.section_img_p{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.section_img_p p{
   font-weight: bolder;
   margin-bottom: 5px;

}

.section_img_p img{
  border: 2px solid burlywood;
  border-radius: 5%;
  width: 600px;
  margin: 15px;
}

/* Contenedor secundario 2 ---------------------------- */

.article_section1{
  display: flex;
  
}


/* Subcontenedor 1 .span --------------------------------*/

.span{
  display: flex;
  flex-direction: column;
  background-color:darkkhaki
}

.article_h2_ul{
  display: flex;
  border: 1px solid black;
  height: 300px;
}

/* titulo h2 mas ul > li  */

.article_h2_ul_div{
  display: flex;
  flex-direction: column;
  justify-content:stretch;
  margin: 10px;
  
}

.article_h2_ul_div ul li{
  margin: 8px;
}

.article_h2_ul_div h2{
  text-decoration: underline;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 15px;
}



.ul_section1 li{
  list-style: none;
  margin: 5px;
}

.img_span{
  width: 400px;
  height: 250px;
   margin: 5px 5px 5px 200px;

}

/* Contenedor h3 y p parte inferior */
.article_img_h3{
  display: flex;
  flex-direction: column;
  margin: 5px 5px 0px 0px;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  justify-content: center;
  
}

.article_img_h3{
  background-color: aqua;
}
.article_img_h3 h3{
  margin: 10px 0px 0px 15px;
}

.article_img_h3 p{
  margin: 10px 0px 15px 15px;
}

/* Contenedor principal 2 (sobre el footer) #section2 ----------- */

#section2{
  display:flex;
  align-items: center;
  background-color:darkgrey;
  width: 100%;
  height:150px;
  margin: 15px;
  border: 1px solid black;
}

.article_1{
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
  width: 50%;
}

.article_2{
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
  width: 50%;
}

/* Footer ----------------------- */

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  width: 100%;
  height: 200px;
  position: absolute;
  /* margin-top: 100px; */
}

#footer .fooger_ul_redes {
  display: flex;
  margin-right: 67px;
  list-style: none;
}

.fooger_ul_redes li img {
  padding: 20px;
  color: aliceblue;
}

.footer_ul {
  margin-left: 30px;
  list-style: none;
}

.footer_ul li {
  padding-top: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: aliceblue;
}

@media (max-width: 716px) {
  #footer {
    flex-direction: column;
    height: 600px;
    align-items: center;
  }
  #footer .fooger_ul_redes {
    flex-direction: column;
    padding-left: 30px;
  }
}

@media (max-width: 440px) {
  #footer {
    flex-direction: column;
  }
  #footer .fooger_ul_redes {
    flex-direction: column;
  }
}

@media (max-width: 380px) {
  #footer {
    flex-direction: column;
  }
  #footer .fooger_ul_redes {
    flex-direction: column;
  }
}
